body{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 1px;
}
br {
    background-color: #ccc;
}

.leftcol{
    float: right;
}
.border-box{
    border: 1pt solid #ddd;
}
.clr-background-white{
    background-color: white;
}
.clr-background-teal{
    background-color: #4aaaa5 !important;
    border: 10px solid #4aaaa5 !important;
}
.clr-background-gray{
    background-color: #ccc !important;
}
.clr-text-title-white{
    font-family: Georgia, 'Times New Roman', Times, serif !important;    
    color: white;
    margin-left: -20px;
    /* line-height: 3em; */
}
.clr-text-title-teal{
    font-family: Georgia, 'Times New Roman', Times, serif !important;    
    color:  #4aaaa5 !important;
    font-size: 1.6em;
}


.clr-text-gray{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 1em;
    color: gray;
}
.clr-text-gray a{
        text-decoration: none;
        padding: 10px;
        color: #666;
        line-height: 4em;
    }
.clr-text-gray a:hover{
        text-decoration: underline;
        padding: 10px;
        color: #777;
        line-height: 4em;
    }
.container{
    background-color: #ddd;
    width: 100%;
}
.gray-hr{
    border-bottom: 1pt solid #ccc;
}

.cnt-body{
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    line-height: 1.5em;
    padding-left: 20px;
    padding-bottom: 20px;
}

.row img{
    float: left;
    margin-right: 10px;
}

section{
    clear: both;
}

button{
    background-color: #4aaaa5 !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;    
    color: white;
    margin-bottom: 50px;
}

table{
    width: 100%;
}
td{
    margin: 0 auto;
    width: 33.33%;
    padding-right: 30px;
    padding-bottom: 30px;
}
.container .portfolio-card{
    width: 320px;
    height: auto;
    margin: 0 auto;
}
.container .portcardwrap{
    position: relative;
    width: 275px;
}
.container .portcardtext{
    position: absolute;
    bottom:4%;
    left: 0;
    background-color: #4aaaa5; 
    color: white;
    display: inline-block;
    float: left;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    width: 245px;
}





/******** footer section basic css ********/
footer{
    width: 100%;
}
.footerfloat{
    margin: 0 auto;
    padding: 20px;
    background-color: #666;
    border-top: 2pt solid #4aaaa5;
    text-align: center;
    color: #ddd;
}
